<header>
    <nav .navbar .navbar-expand-md .navbar-dark.bg-dark>
        <a .navbar-brand rel="home" href=@{HomeR}>#{siteTitle $ appSettings master}
        <button type="button" .navbar-toggler data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
            <span .navbar-toggler-icon>

        <div #navbar .collapse.navbar-collapse>
            $forall bar <- navbars
                <ul .navbar-nav>
                    $forall MenuItem label route <- bar
                        <li .nav-item :Just route == mcurrentRoute:.active>
                            <a .nav-link href=@{route}>#{label}

    $if not $ null crumbs
        <ol .breadcrumb>
            $forall (route, title) <- crumbs
                <li .breadcrumb-item>
                    <a href=@{route}>#{title}
            <li .breadcrumb-item.active>#{title}
        <script type="application/ld+json">#{preEscapedToMarkup jsonCrumbs}
    $maybe msg <- mmsg
      <div .alert.alert-info #message>#{msg}

<main>
    ^{widget}

<footer>
    <p>
        all content licensed under #
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc by-sa 4.0
    $with Package { packageName = n, packageVersion = v, packageRepository = r } <- package
        <p>
            powered by #
            <a rel="code-repository" href="#{repositoryUrl r}/tree/v#{v}">#{n} #{v}
